@import "./logo.scss";
@import "./sale.scss";
@import "./number-list.scss";

.header {
  background-color: #dcdcdc;
  height: 200px;

  &__inner {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding-bottom: 50px;
  }

  &__info {
    display: flex;
    position: relative;
  }
}
