.sale {
  display: block;
  min-width: 216px;
  position: absolute;
  left: 41.6%;
  right: 50%;
  margin-top: 22px;

  @media (max-width: 850px) {
    top: 70px;
  }

  &__info {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: $text-primary;
  }
}
