.footer {
  background-color: $gray;
  margin-top: auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    color: $white;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  &__wrapper {
    display: flex;
    gap: 137px;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 630px) {
      gap: 60px;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 1px;
  }

  &__company-info,
  &__email {
    letter-spacing: 0.03rem;
  }

  &__menu-list {
    display: flex;
    gap: 4px;
    margin-top: 10px;
    flex-direction: column;
  }

  &__list-item {
    cursor: pointer;
  }

  &__list-item span {
    line-height: 10px;
    letter-spacing: 0.03rem;
    border-bottom: 2px solid $gray10;
  }

  &__author {
    display: flex;
    flex-direction: column;
    margin-bottom: 8.7rem;
    margin-right: 1px;
    letter-spacing: 0.03rem;
  }

  .bb {
    border-bottom: 2px solid $gray10;
  }
}
