// fonts

$font-primary: "Open Sans";
$PTSans: "PT Sans", sans-serif;
$OpenSansItalic: "Open Sans Italic";
$f-extrabold: 800;
$f-bold: 700;
$f-semibold: 600;
$f-medium: 500;
$f-regular: 400;
$f-light: 400;

// colors

$white: #ffffff;
$black: #000000;
$gray: #777777;
$gray10: #b2b2b2;

$text-primary: #767676;
$menu-text: #e4e4e4;
