// fonts

$font-primary: "Open Sans";
$f-extrabold: 800;
$f-bold: 700;
$f-semibold: 600;
$f-medium: 500;
$f-regular: 400;

// colors

$white: #ffffff;
$black: #000000;
$gray: #9e9e9e;

$text-primary: #767676;
